# thumbnail database files
*/Thumbs.db

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# climateNA files and outputs
climate-na/*

# ECMWF data
data/ecmwfr-data/*

# all models (too large)
models/*

# phylopic figures
figures/phylopic/*

# shapefiles and related files
*.cpg
*.dbf
*.prj
*.qmd
*.shp
*.shx
*.html

# rasters
*.tif
*.nc

# rds files
*.rds

# zip files
*.zip

# old code (kept locally, temporarily)
analysis/old-code

# thumbnail files
*/Thumbs.db

# tracking data (private)
data/tracking-data

# BCPARF figures (outdated)
figures/bcparf-2022-nanaimo

# ignore tutorials on RSF via ctmm and mgcv
tutorials

# output of plot.gam() for elk HRSF
figures/elk-hrsf-terms-2023-03-14.png

# ignore old dem
data/area-dem-2022-11-23-low-res.csv
